body{
    margin: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
#myHeader{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 200;
}
#topInfoWrap{
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: #232637;
    /* background-color: #234262; */
}
#topInfo span{
    color: #f1f1f1;
}
#topInfo a{
    text-decoration: none;
    color: #f1f1f1;
}
#phone{
    margin-right: 5px;
}
#spaceBar{
    margin-left: 14px;
    margin-right: 14px;
}
#topInfo aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#topInfo{
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1080px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-weight: 700;
}

#myNav{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;  
    box-shadow: 0px 0px 5px #dbdbdb;
    position: relative;
}
#navWrapper{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 1080px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* border: 2px solid red; */
}
.navInnerHolder img{
    height: 37px;
    width: auto;
}
.actionBtn{
    height: 51px;
    outline: none;
    border: none;
    background-color: #234262;
    border: 2px solid #234262;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    margin-left: 2rem;
    width: 211px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s;
}
#applyBtn:hover, #applyBtn:active{
    color: #234262;
    background-color: #fff;
}
.navLinks{
    text-decoration: none;
    color: #234262;
    font-weight: bolder;
    padding: 5px 10px;
}
/* Hero sect.. */
#heroSect::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#heroSect{
    /* height: 100vh; */
    height: calc(100vh - 150px);
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* border: 2px solid green; */
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    position: relative;
}
#heroTxt > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    }
#heroTxt > h1{
    font-size: 75px;
    font-weight: 700;
    font-family: "Abril Fatface", cursive;
    color: #234262;
    max-width: 50%;
    margin-left: 0rem;
    line-height: 1.15;
    margin-bottom: 2rem;
}
#heroTxt{
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 15%;
    width: 80%;
}
#heroBtn1, #heroBtn2{
    margin-left: 0px;
    height: 60px;
}
#heroBtn2{
 background-color: #fff !important;
 border: 2px solid #234262;
 color: #234262;
 width: 200px;
 align-self: flex-end;
 margin-left: 1rem;
}
#heroBtn1{
    background-color: #1fc2d9;
    border: 2px solid #1fc2d9;
    color: #fff;
    width: 183px;
    /* animation-name: Changecolor; */
    animation: ChangeColor 4s linear 1s infinite alternate;
}
@keyframes ChangeColor {
     0%{
        background-color: #1fc2d9;
        border: 2px solid #1fc2d9;
        color: #fff;
     } 
     50%{
        background-color: #d91f8c;
        border: 2px solid #d9d61f;
        color: #fff;
     } 
     70%{
        background-color: #d91f1f;
        border: 2px solid #1fc2d9;
        color: #fff;
     } 
     100%{
        background-color: #d9541f;
        border: 2px solid #35d91f;
        color: #110202;
     }
     /* from{
        background-color: #1fc2d9;
        border: 2px solid #1fc2d9;
        color: #fff;
     } 
     to{
        background-color: #d9541f;
        border: 2px solid #35d91f;
        color: #110202;
     } */
}

#heroBtn2:hover{
 background-color: #234262bb !important;
 color: #fff;
}
#heroBtn1:hover{
    background-color: #fff;
    color: #1fc2d9;
}
#baseSect{
    position: relative;
    height: auto;
    min-height: 1000px;
    width: 100%;
    box-sizing: border-box;
    /* margin-top: 150px; */
}
#lgBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 22px;
}